@model Z2.Models.CompletedViewModel

<html>

<head>
    <title>Lista obavljenih poslova</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
<h1>Obavljeni poslovi</h1>

<a class="btn btn-primary" asp-controller="Todo" asp-action="AddItem">Dodajte novi posao</a>
<a asp-controller="Todo" asp-action="Index">Pregled poslova u tijeku</a>

<div>
    @foreach (var x in Model.Models)
    {
        @Html.Partial("Item", x)
    }
</div>

@if (Model.Models.Count == 0)
{
    <div class="card card-body mx-auto" style="width: 20rem;">
        <h4 class="card-title" align="center">Još niste završili nijedan posao.</h4>
        <a class="btn btn-primary" asp-controller="Todo" asp-action="Index">Pregled poslova u tijeku</a>
    </div>
}
</body>

</html>